<div class="d-flex justify-content-end">
  <button mat-raised-button color="primary" (click)="addDialog()">Thêm mới</button>
</div>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>STT</th>
    <td mat-cell *matCellDef="let element; let i = index"> {{(i+1)+dataSource.paginator?.pageIndex*5}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Tên thể loại</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Mô tả</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Hành động</th>
    <td mat-cell *matCellDef="let element" class="cursor-point" (click)="editDialog(element)">
      <mat-icon>edit</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator class="mt-4" [length]="dataSource?.length" [pageSize]="5" aria-label="Select page" hidePageSize="true">
</mat-paginator>
